:root {
    --azul-claro-fundo: #a6b8ce;
    --azul-escuro: #213047;
    --azul-claro: #D5DBE7;
    --cinza: #727A85;

    
    --branco: #FFFFFF;
    --preto: #000000; 



    --branco-menu: #ffffffec;
}
